/.idea
/__pycache__
/datasets/__pycache__
/models/__pycache__
/data/hico_20160224_det/annotations/
/data/hico_20160224_det/images/
/data/hico_20160224_det/tools/
/data/v-coco/annotations/
/data/v-coco/coco/
/data/v-coco/data/
/data/v-coco/images/
/data/v-coco/pycocotools_/
/logs/07/
/logs/hico-compo2-0802/
/params/
/util/
/paper_images/
